{% load static %}
<h1>
    hello {{pk}}, đây là ảnh thỏ của bạn {{pk}}
</h1>
<img src="{% static '/images/thotho.jpeg' %}" alt="thotho" class ="Image" style="width: 120px; margin-bottom: -50px;">
<img src="{% static '/images/thong.png' %}" alt="thong" class ="Image" style="width: 120px; margin-bottom: -50px;">
<img src="{% static '/images/tho1.jpg' %}" class ="Image" style="width: 120px; margin-bottom: -50px;">
<img src="{% static '/images/tho2.jfif' %}" class ="Image" style="width: 120px; margin-bottom: -50px;">
<img src="{% static '/images/tho3.jpg' %}" class ="Image" style="width: 120px; margin-bottom: -50px;">
<video preload="" controls width="500" height="400">
    <source src="{%static 'videos/video.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>